<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>I acknowledge the College's academic integrity policy -and my own integrity -remain in effect whether my work is done remotely or onsite. Any test or assignment is an act of trust between me and my instructor, and especially with my classmates.even when no one is watching. I declare I will not break that trust.</h2>
    <p>Name: <mark> Gunjan Kaur Paul </mark></p>
    <p>Student Number: <mark> 156409211 </mark></p>
    <a href="/CPA">Click to Visit CPA Students</a> <br>
    <a href="/GPA">Click to see who has the highest GPA </a>

</body>
</html>